<mat-grid-list cols="4" rowHeight="90vh">
  <mat-grid-tile [rowspan]="1" [colspan]="3" [style.color]="'white'">
    <div class="container-overflow">
      <mat-grid-list cols="4" [style.min-width]="'100%'">
        @for (item of data(); track item.id; let i = $index) {
          <mat-grid-tile>
            <app-menu
              style="height: 100%; width: 100%"
              [data]="item"
              (selectedItem)="setSelectedItem($event)"
              [indexItem]="i"></app-menu>
          </mat-grid-tile>
        }
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
        <mat-grid-tile [style.background]="'gray'">Empty</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <div class="container-overflow">
      @for (item of selectedMenu(); track item.id; let i = $index) {
        <app-bill
          [data]="item"
          (counterChanged)="updateItem($event)"></app-bill>
      }
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="10vh">
  <mat-grid-tile [style.background]="'blue'">
    <div style="color: white; font-size: 32px; padding-right: 10px">
      Total: {{ grandTotal() | currency: 'IDR' }}
    </div>
    <button
      *ngIf="selectedMenu().length > 0"
      mat-raised-button
      (click)="confirmOrder()">
      Pesan
    </button>
  </mat-grid-tile>
</mat-grid-list>
